#root
#app
  width 100vw
  background #fff
#content
  width 100vw
  height calc(100vh - 50px)
#tab-bar
  width 100vw
  height 50px
  position fixed
  bottom 0
  left 0
  background #fff
  border-top 1px solid rgba(0, 0, 0, 0.08)
